---
layout: default
---

<header>
	{% capture nav %}
		<!--<li class="nav-item">
			<a class="nav-link" href="{{ "/optables" | relative_url }}">Opcode Tables</a>
		</li>-->
	{% endcapture%}
	{% include nav.html content=nav %}
</header>

{% capture _content%}
<div class="jumbotron mt-4">
	<h1 class="display-4">8-bit CPU family opcode tables</h1>
	<p class="lead">
        Reverse opcode tables/matrices for some 8-bit CPU families I'm interested in.
	</p>
    <p>
        Some tables combine opcodes for binary compatible CPUs within each family, for a comprehensive (if a bit crowded) overview over the differences.
    </p>
    <h2><a href="intel-8080">Intel 8080/8085 opcode table</a></h2>
    <p>A combined opcode table showing all Intel 8080 and 8085 opcodes together. The 8085 (1976) was a binary compatible successor to the 8080 (1974). The design was followed by the 8086 which gave rise to the x86 architecture.</p>
    <h2><a href="f8">Fairchild F8 opcode table</a></h2>
    <p>Opcode table for the Fairchild F3850 CPU in the F8 family, used in the Fairchild Channel F video game console (the first to use ROM cartridges).</p>
    <p>This is a very strange CPU (there's no address bus, for example), which is reflected in the instruction set.</p>
    <h2>Motorola 6800/6801/6803/Hitachi 6303 opcode table</h2>
    <p>A combined opcode table showing all Motorola 6800 (1974), 6801 (1978), 6803 and Hitachi 6303 opcodes together.</p>
    <h2>Motorola 6809/Hitachi 6309 opcode table</h2>
    <p>A combined opcode table showing all Motorola 6809 (1979) and Hitachi 6303 (1982) opcodes together.</p>
    <h2>Datapoint 2200/Intel 8008 opcode table</h2>
    <p>A combined opcode table showing all Datapoint 2200 and Intel 8008 opcodes together.</p>
    <h2>Intel 4004/4040 opcode table</h2>
    <p>A combined opcode table showing all Intel 4004 and 4040 opcodes together.</p>
</div>
{% endcapture%}

{% include content.html content=_content %}
