<div class="row">
	<div id="legend" class="col-md-12 col-lg-6 mb-3">
		<span class="legend"><span class="legend-color legend-illegal"></span> Illegal/undocumented instructions</span>
		<span class="legend"><span class="legend-color legend-control"></span> Stack, I/O and machine control instructions</span>
		<span class="legend"><span class="legend-color legend-flow"></span> Branch and program flow instructions</span>
		<span class="legend"><span class="legend-color legend-load"></span> Data transfer instructions</span>
		<!-- <span class="legend"><span class="legend-color legend-load16"></span> 16-bit load instructions</span> -->
		<span class="legend"><span class="legend-color legend-arithmetic"></span> Arithmetic instructions</span>
		<span class="legend"><span class="legend-color legend-logic"></span> Logical instructions</span>
		<!-- <span class="legend"><span class="legend-color legend-arithmetic16"></span> 16-bit arithmetic / logical instructions</span> -->
	</div>

	<div id="how-to-read" class="col-md-12 col-lg-6 mb-3">
		<table id="demo-table" class="mb-3">
			<tbody>
				<tr><td></td> <td></td> <td><span>INS op</span><br></td> <td>←</td> <td>Instruction mnemonic</td></tr>
				<tr><td>Length in bytes</td> <td>→</td> <td><span>2</span><br></td> <td></td> <td></td></tr>
				<tr><td>States (8080)</td> <td>→</td> <td><span>2&nbsp;&nbsp;7</span><br></td> <td>←</td> <td>Cycles (8080)</td></tr>
				<tr><td>States (8085, if different)</td> <td>→</td> <td><span class="variant">2&nbsp;&nbsp;7</span><br></td> <td>←</td> <td>Cycles (8085, if different)</td></tr>
				<tr><td></td> <td></td><td><span>SZ<span class="variant">K</span>AP<span class="variant">V</span>C</span></td> <td>←</td> <td>Flags affected</td></tr>
				<tr><td></td> <td></td><td><span class="variant">SZKAPVC</span></td> <td>←</td> <td>Flags affected (8085, if different)</td></tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-lg-6">
		<div id="flags" class="card mb-3{% if page.theme == "dark" %} bg-secondary{% endif %}">
			<div class="card-body">
                <p>Flag registers and their bit positions in PSW:</p>
                <table border="2px" style="border-collapse: collapse">
                    <tr>
                        <th>7</th>
                        <th>6</th>
                        <th>5</th>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>Z</td>
                        <td>K</td>
                        <td>A</td>
                        <td>-</td>
                        <td>P</td>
                        <td>V</td>
                        <td>C</td>
                    </tr>
                </table>

                <ol start="0">
                    <li><strong>C</strong>: Carry flag; set to carry out of bit 7 in result</li>
                    <li><strong>V</strong>: Undocumented signed overflow flag<sup><a href="http://www.righto.com/2013/02/looking-at-silicon-to-understanding.html">*</a></sup> (8085 only, on 8080 bit is always 1 in PSW)</li>
                    <li><strong>P</strong>: Parity flag; set if the number of bits in the result is even, and reset if it's odd</li>
                    <li>No flag, bit is always 0 in PSW</li>
                    <li><strong>A</strong>: Auxiliary Carry (A<sub>C</sub>) flag; set to carry out of bit 3 in result</li>
                    <li><strong>K</strong>: Undocumented signed Underflow Indicator (UI/X5) and comparison flag<sup><a href="http://www.righto.com/2013/02/looking-at-silicon-to-understanding.html">*</a></sup> (8085 only, on 8080 bit is always 0 in PSW)</li>
                    <li><strong>Z</strong>: Zero flag; set if the result was zero, reset otherwise</li>
                    <li><strong>S</strong>: Sign flag; set to bit 7 of result</li>
                </ol>

                <p>Flags affected are always shown in the PSW bit order: SZKAPVC. If a flag is marked by "0" it means it is reset after the instruction. If it is marked by "1" it is set. If it is marked by "-" it is not changed. If it is marked by its letter, the corresponding flag is affected by the instruction.</p>

                <p><span style="color: blue">Blue flags</span> are only affected on 8085. For some instructions that affect flags differently on 8080 and 8085, there are two flag status lines.</p>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-6">
		<div id="conditional-durations" class="card mb-3{% if page.theme == "dark" %} bg-secondary{% endif %}">
			<div class="card-body">
				The duration of conditional calls and returns is different when action is taken or not. This is indicated by two numbers separated by “/”. The higher number (on the left side of “/”) is the duration of the instruction when action is taken, the lower number (on the right side of “/”) is the duration of the instruction when action is not taken.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div id="datatypes" class="card mb-3{% if page.theme == "dark" %} bg-secondary{% endif %}">
			<div class="card-body">
				<p><kbd>d8</kbd> means immediate 8-bit data</p>
				<p><kbd>d16</kbd> means immediate 16-bit data</p>
				<p><kbd>a8</kbd> means 8-bit unsigned data, which is added to $FF00 in certain instructions (replacement for missing IN and OUT instructions)</p>
				<p><kbd>a16</kbd> means 16-bit address</p>
				<p><kbd>r8</kbd> means 8-bit signed data</p>
			</div>
		</div>
	</div>
</div>
