{% assign index = include.row | times: 16 | plus: include.column %}
{% capture key %}{% include hex.html cpu=include.cpu value=index addPrefix=true %}{% endcapture %}
{% assign key = key | strip %}
{% assign op = site.data[include.cpu].opcodes[include.set][key] %}
{% assign mnemonic = op.instruction %}

{% assign is16bit = false %}
{% if op.operands.size > 0 and op.operands[0].type == "register pair" %}
	{% assign is16bit = true %}
{% endif %}
{% if op.operands.size > 1 and op.operands[1].type == "register pair" %}
	{% assign is16bit = true %}
{% endif %}
{% if op.operands.size > 0 and op.operands[0].name == "d16" %}
	{% assign is16bit = true %}
{% endif %}
{% if op.operands.size > 1 and op.operands[1].name == "d16" %}
	{% assign is16bit = true %}
{% endif %}

{% assign instruction = site.data[include.cpu].instructions[op.instruction] %}
<td id="op-{% if include.set == "cbprefixed" %}cb{% endif %}{{ key | downcase | slice: -2, 2 }}" class="opcode-info {% if is16bit %}is16bit{% else %}is8bit{% endif %} op-{{ op.instruction | downcase }} op-group-{{ instruction.group | join: ' op-group-' }}">
        <div class="operation op-{{ op.instruction | downcase }} op-group-{{ instruction.group | join: ' op-group-' }}{% if op.illegal %} illegal{% endif %}">
            <span class="mnemonic"><span class="tool">{{ op.instruction }}<span class="tooltiptext {% if include.column == 0 %}right{% elsif include.column == 15 %}left{% else %}top{% endif %}">{{ instruction.description }}{% if op.illegal %}<br/>(illegal opcode){% endif %}</span></span>{% if op.operands %}&nbsp;<span class="operands">{{ op.operands | map: 'name' | join: ',' }}</span>{% endif %}</span>

            <span class="bytes-cycles">
                <span class="bytes">{% assign bytes = 1 %}{% assign operands = op.operands | where: 'type', 'immediate' %}{% for operand in operands %}{% assign bytes = bytes | plus: operand.bytes %}{% endfor %}{{ bytes }}</span><br/>
                <span class="cycles">{{ op.timing.cycles | join: '/' }}</span>&nbsp;&nbsp;<span class="states">{{ op.timing.states | join: '/' }}</span>
                {% if op.timing.variant %}
                    <br/><span class="variant cycles">{{ op.timing.variant.cycles | join: '/' }}</span>&nbsp;&nbsp;<span class="variant states">{{ op.timing.variant.states | join: '/' }}</span>
                {% endif %}
            </span>

            {% if op.flags %}
                {% assign flags = op.flags %}
            {% else %}
                {% assign flags = instruction.flags %}
            {% endif %}
            <span class="flags">{{ flags.S | default: "-"}}{{ flags.Z | default: "-"}}{% unless op.variant or flags.variant %}<span class="variant">{{ flags.K | default: "-"}}</span>{% endunless %}{{ flags.A | default: "-"}}{{ flags.P | default: "-"}}{% unless op.variant or flags.variant %}<span class="variant">{{ flags.V | default: "-"}}</span>{% endunless %}{{ flags.C | default: "-"}}</span>
            {% if flags.variant %}<span class="flags variant">{{ flags.variant.S | default: "-"}}{{ flags.variant.Z | default: "-"}}{{ flags.variant.K | default: "-"}}{{ flags.variant.A | default: "-"}}{{ flags.variant.P | default: "-"}}{{ flags.variant.V | default: "-"}}{{ flags.variant.C | default: "-"}}</span>{% endif %}
        </div>

    {% if op.variant %}
        {% assign op = op.variant %}
        {% assign instruction = site.data[include.cpu].instructions[op.instruction] %}
        {% if op.flags %}
            {% assign flags = op.flags %}
        {% else %}
            {% assign flags = instruction.flags %}
        {% endif %}
        <div class="variant operation op-{{ op.instruction | downcase}} op-group-{{ instruction.group }}{% if op.illegal %} illegal{% endif %}">
            <span class="mnemonic"><span class="tool">{{ op.instruction }}<span class="tooltiptext {% if include.column == 0 %}right{% elsif include.column == 15 %}left{% else %}top{% endif %}">{{ instruction.description }}{% if op.illegal %}<br/>(illegal opcode){% endif %}</span></span>{% if op.operands %}&nbsp;<span class="operands">{{ op.operands | map: 'name' | join: ',' }}</span>{% endif %}</span>

            <span class="bytes-cycles">
                <span class="bytes">{% assign bytes = 1 %}{% assign operands = op.operands | where: 'type', 'immediate' %}{% for operand in operands %}{% assign bytes = bytes | plus: operand.bytes %}{% endfor %}{{ bytes }}</span><br/>
                <span class="cycles">{{ op.timing.cycles | join: '/' }}</span>&nbsp;&nbsp;<span class="states">{{ op.timing.states | join: '/' }}</span>
            </span>

            <span class="flags">{{ flags.S | default: "-"}}{{ flags.Z | default: "-"}}<span class="variant">{{ flags.K | default: "-"}}</span>{{ flags.A | default: "-"}}{{ flags.P | default: "-"}}<span class="variant">{{ flags.V | default: "-"}}</span>{{ flags.C | default: "-"}}</span>
        </div>
    {% endif %}
</td>
