<h1>Intel 8080/<span class="variant">8085</span> opcode table<!-- (<a href="{{ "/Opcodes.json" | relative_url }}">JSON</a>)--></h1>

<div class="row">
	<div class="col">
		{% if page.octalTables %}
			{% include optables/op-table-oct.html cpu=include.cpu set="unprefixed" id="standard" %}
		{% else %}
			{% include optables/op-table.html cpu=include.cpu set="unprefixed" id="standard" %}
		{% endif %}
	</div>
</div>

{% if site.data[include.cpu].opcodes.prefixed %}
<h2><small><a href="#prefixed">🔗</a></small> Prefixed ($CB $xx)</h2><small><a href="#standard">^</small> 

<div class="row">
	<div class="col">
		{% if page.octalTables %}
			{% include optables/op-table-oct.html cpu=include.cpu set="cbprefixed" id="prefixed" %}
		{% else %}
			{% include optables/op-table.html cpu=include.cpu set="cbprefixed" id="prefixed" %}
		{% endif %}
	</div>
</div>
{% endif %}
